# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Logs
logs/
*.log

# YOLO base/pretrained weights
yolov8n.pt

# Ignore all pt files except final project model
*.pt
!models/
!models/smart_home_scene_v1_best.pt

# Temporary capture outputs
assets/captures/

# Training outputs and datasets
runs/
datasets/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Optional local test/cache files
*.tmp